@use "./colors.scss";

div.root {
	width: max-content;
	height: max-content;

	display: flex;
	flex-direction: column;

	background-color: var(--color-bg);
	color: var(--color-on-bg);

	--border-rad: 10px;
	border-radius: var(--border-rad);

	&, > * {
		transition:
			background-color 0.13s ease-in-out,
			color 0.13s ease-in-out
		;
	}

	:first-child {
		border-radius: var(--border-rad) var(--border-rad) 0 0;
	}

	:last-child {
		border-radius: 0 0 var(--border-rad) var(--border-rad);
	}

	> * {
		padding: 1rem;

		text-decoration: none;
		color: inherit;

		&:hover:not(:first-child) {
			background-color: var(--color-bg-h);
			color: var(--color-on-bg-h);
		}
	}
}